<%#= render 'form' %>

<div class="modal-form new-interview-form">
  <%= form_for(@interview) do |f| %>

    <h3>New Interview</h3>

    <% if @interview.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@interview.errors.count, "error") %> prohibited this interview from being saved:</h2>

        <ul>
        <% @interview.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="dinamic-field-container position focused">
        <%= f.label :position, "Select a position" %><br>
        <%= f.hidden_field :position, class: 'hiddenInput' %>
        <span class="field-placeholder">&nbsp;</span>
    </div>

    <div class="dinamic-field-container candidate-id">
        <%= f.label :candidate_id, "Select one candidate" %>
        <%= f.hidden_field :candidate_id, class: 'hiddenInput' %>
        <span class="field-placeholder">&nbsp;</span>
    </div>
    
    <div class="dinamic-field-container interviewer-id">
        <%= f.label :interviewer_id, "Select one interviewer" %>
        <%= f.hidden_field :interviewer_id, class: 'hiddenInput' %>
        <span class="field-placeholder">&nbsp;</span>
    </div>

    <div class="actions">
      <%= f.submit 'Creating interview', class: 'btn-flat btn-large c1 submit-btn' %>
    </div>
  <% end %>
</div>

<%= modal_list_container 'positions-data-container focused', { item_query: ".position-list .position", form_field_query: ".position", hidden_input_key: "position", field_placeholder: "position" } do %>
  <h5>Select one position:</h5>
  <%= modal_list "position-list list-small" do %>
    <% ["Frontend Enginner", "Backend Engineer", "Quality Assurance"].each do |position| %>
      <%= modal_item "position", { position: position } do %>
        <img src="http://media-cache-ec0.pinimg.com/avatars/flatdsgn_1370860445_30.jpg" class="item-photo">
        <div class="item-details">
          <span class="item-info"><%= position %></span>
        </div>
      <% end %> 
    <% end %> 
  <% end %> 
<% end %> 

<%= modal_list_data_field @candidates, 'candidate', 'id', 'name' do %>
  YEY
<% end %>

<%#= modal_list_data_field @interviewers, 'interviewer', 'id', 'name' do %>
  <!-- I'm an interviewer baby -->
<%# end %>

<%= modal_list_container "interviewers-data-container", { item_query: ".interviewer-list .interviewer", form_field_query: ".interviewer-id", hidden_input_key: "interviewerId", field_placeholder: "interviewerName" } do %>
  <h5>Select one or more interviewers:</h5>
  <%= modal_list "interviewer-list" do %>
    <% @interviewers.each do |interviewer| %>
      <%= modal_item "interviewer", { interviewer_id: interviewer.id, interviewer_name: interviewer.name } do %>
        <img src="<%= interviewer.photo %>" class="item-photo" />
        <div class="item-details">
          <h4 class="item-info item-info-main"><%= interviewer.name %></h4>
          <span class="item-info"><%= interviewer.position %></span>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>


<%= link_to 'Back', interviews_path %>
